* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  padding-bottom: 500px;
}

h1 {
  color: red;
}

/* 5 - Classes Dinâmicas */
.red-title {
  font-size: 50px;
  color: red;
  background-color: #000;
}

.title {
  font-size: 30px;
  color: #000;
  background-color: red;
}